.planetUnique {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: max-content;
}

.planetDetails{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

a {
    position: relative;
    top: 0;
    left: 2%;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: larger;
    color: burlywood;
}

.container {
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #000;
    padding: 20px;
}