body {
    margin: 0 10px 0 0;
    background-image: url(./assets/noche.jpg);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100vh;
    color: white;
    animation: space 25s linear infinite alternate;
    overflow: hidden;
}

@keyframes space {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 0 100%
    }
}